<div class="banner bg-color-full" id="banner">
    <div id="bannerCarousole" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item banner-max-height active">
                <img class="d-block w-100 h-10" src="{{ asset('front/img/banner/refBanner.jpg')}}" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex text-center"></div>
            </div>
        </div>
    </div>
    <div class="banner-inner">
        <div class="container">
            <div class="text-center">
                <h3 class="b-text">Find informations about refugee</h3>
                <div class="inline-search-area ml-auto mr-auto none-768">
                    <div class="search-boxs">
                        <div class="search-col">
                            <input type="text" name="search" class="form-control has-icon b-radius" placeholder=" Keywords , Camp name or Refugee name ...">
                        </div>
                        <div class="search-col">
                            <select class="selectpicker search-fields" name="location">
                                <option>Camp</option>
                                <option>Refugee</option>
                                <option>Volunteer</option>
                                <option>Don</option>
                            </select>
                        </div>
                        <div class="find">
                            <button class="btn button-theme btn-search btn-block b-radius">
                                <i class="fa fa-search"></i><strong>Find Job</strong>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="banner-counter-box none-768">
                    <div class="counter-box">
                        <h1 class="counter">9876</h1>
                        <p>Refugee</p>
                    </div>
                    <div class="counter-box">
                        <h1 class="counter">67</h1>
                        <p>Camp</p>
                    </div>
                    <div class="counter-box">
                        <h1 class="counter">7916</h1>
                        <p>Don</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->