{% extends 'basee.html.twig' %}
{% block body %}


    <div class="form-body" data-example-id="simple-form-inline">



            {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}


        <div class="form-group" >

        </div>
    </div >
{% endblock %}