{% extends 'basee.html.twig' %}
{% block body %}
    <h3 class="title1">List of events</h3>
    <div class="grid-bottom widget-shadow">



        <table class="table table-bordered table-striped no-margin grd_tble">

            <thead>
            <tr>

                <th>
                    Nom evenements
                </th>

                <th>
                    Lieu evenements
                </th>
                <th>
                    Date evenements
                </th>
                <th>
                    Nombre Max Participant
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for e in ev %}
                <tr>
                    <th>{{ e.nomEvenement }}</th>


                    <th>{{e.lieuEvenement}}</th>


                    <th>{{ e.dateEvenement |date('Y-m-d') }}</th>


                    <th>{{e.nombreMaxParticipant}}</th>







                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}