<h3>You did it! You participate!</h3>

Bonjour vous etes inscrits pour participer a l'evenement {{ eve.nomEvenement }} le {{ eve.dateEvenement |date('Y-m-d') }} a {{ eve.lieuEvenement }}

{# example, assuming you have a route named "login" #}


Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
