{% extends 'basee.html.twig' %}
{% block body %}
    <div class="form-body" data-example-id="simple-form-inline">


    <h2 class="title1">{{ form(form) }}</h2>
    <div class="form-group" >

{% endblock %}