{% extends 'baseback.html.twig' %}

{% block body %}
    <h1>Camp creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <button type="button" class="btn btn-info">   <a href="{{ path('camp_index') }}">Back to the list</a></button>

{% endblock %}
